body {
    background-color: coral;
    font-family: 'Lucida Sans';
    font-size: 14px;
    color: darkblue;
}

table{
    border: 1px solid brown;
    background: paleturquoise;
    padding: 10px;


}
tr{
    border: brown;
} 
td{
    border: brown;
} 

.smartgoals{
    
    color: skyblue;
    padding: 10px;
}
#tableDiv{
    
    color: skyblue;
    padding: 10px;
}
img{
    border: 5px solid brown;
}

h1,h2,h3,h4{
    color: navy;
}
img{
    border: 5px solid green;
    max-width: 150px;
    border-radius: 50%;
}