body {
    background-color: coral;
    font-family: 'Lucida Sans';
}

h1{color:black;
    letter-spacing: 2px;
    text-decoration: underline;

}

header {
    width: 100%
    background-color: orange;
    height: 200px;
    padding: 20pt;
    color: white;
    text-align: center;
    front-weight:900;
}

nav {
    width: 100%;
    background-color: orangered;
    height: 20px;
    padding: 10px;
    float: right;
    padding: 20px;
    margin: 10px
}

aside {
    width: 300px;
    height: 500px;
    background-color: aliceblue; 
    float: left;

}

section {
    background-color: coral;
    padding: 20px;
}

article {
    width: 30%;
    float: left;
    background-color: beige;
    margin: 10px;
}

footer{
    clear: both;
    display: block;
    text-align: center;
    padding: 20px;
    height: 300px;
    line-height: 300px;
}

img{
    max-width: 100px;
}

.mypicture{
    max-width: 250px;
    border: 5px solid plum
    border-radius: 50%
}

a{color:white};

div.blue{
    background: blueviolet;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 300px;
    right: 25px;
}

div.pink{
    color:pink;
}
#id{
    background-color: antiquewhite;
}

button{
    background: pink;
    padding: 25px 25px 25px 25px;
    color: red;
    font-weight: bold;
}
button:hover{
    background:blue;
}
::selection{
    background: yellow;
    color: black;
}
a:hover{
    color: red;
}