table{
    border: 1px solid blue;
    background: gray;
    padding: 20px;


}
tr{
    border: blue;
} 
td{
    border: pink;
} 

.smartgoals{
    background: gray;
    color: white;
    padding: 10px;
}
#tableDiv{
    background: gray;
    color: blue;
}
img{
    border: 5px solid brown;
}

h1,h2,h3,h4{
    color: navy;
}